.faq {
  .container {
    max-width: 1048px;
  }
  &__list {
    padding-bottom: 3.6vw;
  }
  &__item {
    padding-bottom: 24px;
    border-top: 1px solid #ECEFF2;
  }
  &__item__question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 24px;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 32px;
    transition: all .5s ease;
    svg {
      margin-left: 10px;
      min-width: 24px;
      min-height: 24px;
      transition: transform .5s ease;
      path, circle {
        transition: all .5s ease;
      }
    }
    &:hover {
      color: #2A6CEA;
      svg {
        path {
          fill: #2A6CEA;
        }
        circle {
          stroke: #2A6CEA;
        }
      }
    }
  }
  &__item__answer {
    padding-top: 24px;
    max-height: 0;
    max-width: 936px;
    overflow: hidden;
    font-size: 1.125em;
    line-height: 32px;
    color: $text-gray;
  }
  &__item__answer.active {
    transition: max-height 2s ease;
    max-height: 1000px;
  }
  svg.active {
    transform: rotate(45deg);
  }
}
