* {
  font-family: Graphik LCG, sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}

.heading {
  text-align: center;
  color: $text-dark;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  @media (max-width: 500px) {
    &{
      font-size: 24px;
      line-height: 32px;
    }
  }
}
