.reviews {
  background-color: #F6F8FA;
  margin-bottom: 100px;
  &-heading {
    padding-top: 3.8vw;
    padding-bottom: 2.15vw;
  }
  &__slider {
    position: relative;
  }
  .slick-track {
    display: flex;
    justify-content: space-between;
    gap: 2.14vw;
  }
  .slide {
    width: 341px;
    min-height: 316px;

    padding: 22px 22px 0;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.10);
    &__top {
      display: flex;
      gap: 16px;
      margin-bottom: 20px;
    }
    &__top__text-name {
      color: $text-dark;
      font-size: 1em;
      font-weight: 600;
      line-height: 24px;
    }
    &__top__text-city {
      color: $text-gray;
      font-size: 0.75em;
      line-height: 16px;
    }
    &-paragraph {
      color: $text-dark;
      font-size: 0.875em;
      line-height: 24px;
    }
  }

  .slick-btn {
    position: absolute;
    top: 33%;
    @media (max-width: 940px) {
      &{
        display: none !important;
      }
    }
  }
  .slick-next {
    right: -3.3vw;
    margin-right: 10px;
  }
  .slick-prev {
    left: -3.3vw;
    margin-left: 10px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 3.3vw;
    padding-bottom: 3vw;
  }
  .slick-dots li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #C2C8CD;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
    }
  }

  .slick-dots li.slick-active {
    background-color: #2A6CEA;
  }
}
