.third {
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5.4vw;
    gap: 20px;
  }
  &__content__text {
    width: 50%;
  }
  &__content__text-heading {
    font-size: 2em;
    font-weight: 600;
    line-height: 40px;
  }
  &__content-img {
    width: 50%;
    max-width: 592px;
  }
  &__content__text-paragraph {
    font-size: 1em;
    line-height: 28px;
    &-top {
      padding-top: 16px;
      padding-bottom: 40px;
    }
  }
  @media (max-width: 650px) {
    &__content {
      flex-direction: column-reverse;
      gap: 7px;
    }
    &__content__text {
      width: 100%;
      text-align: center;
    }
    &__content-img {
      width: 100%;
    }
  }
}

